DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=attendance-db
APP_PORT=8085
IMGBB_API_KEY=
RESET_DB=false
RUN_MIGRATION=true
RUN_SEEDER=false

# Resend Email Configuration
RESEND_API_KEY=
RESEND_FROM_EMAIL=
